@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */
        /* ### Primary */
    --Blue: hsl(223, 87%, 63%);
        /* ### Secondary */
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
        /* ### Neutral */
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    
}

.main-container{
    margin: 85px auto 60px;
}

.logo{
    width: 80px;
    margin: 0 auto;
    display: block;
    margin: 0 auto 40px;
}

h1{
    font-size: 1.2em;
    font-weight: 300;
    color: var(--Gray);
    text-align: center;
    margin-bottom: 16px;
}
h1 span{
    color: var(--VeryDarkBlue);
    font-weight: 700;
}

.suscribe{
    text-align: center;
    font-size: 0.65em;
    margin-bottom: 36px;
}

form{
    width: 282px;
    margin: auto;

}

input[type="email"]{
    width: 100%;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 3px;
    border: 1px solid var(--PaleBlue);
    padding-left: 24px;
    color: var(--Gray);
}
/* creamos pseudoclase para q no cambie de color el borde */
input[type="email"]:focus{
    outline: none;
}

#error{
    color: var(--LightRed);
    font-style: italic;
    font-size: 0.65em;
    text-align: center;
    visibility: hidden;
}

input[type="submit"]{
    background-color: var(--Blue);
    width: 100%;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 70px;
    border: none;
    font-weight: 700;
    color: var(--PaleBlue);
    box-shadow: 3px 3px 5px var(--Blue);
}

input[type="submit"]:hover{
    cursor: pointer;
}

.dashbord{
    width: 322px;
    display: block;
    margin: auto;
    margin-bottom: 120px;
}

.icon{
    width: .9em;
    height: .9em;
}

.social-container{
    width: 150px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}

.icon-container{
    width: 32px;
    height: 32px;
    border: 1px solid var(--PaleBlue);
    border-radius: 50%;
    display: grid;
    place-content: center;
    fill: var(--Blue);


}
.icon-container:hover{
    background-color: var(--Blue);
    fill: var(--PaleBlue);
}

.copy{
    text-align: center;
    color: var(--Gray);
    font-size: .6em;
}

.attribution { 
    font-size: 11px; 
    text-align: center;}

.attribution a { 
    color: hsl(228, 45%, 44%); }


/* -----------------------Desktop------------------- */
@media (min-width:700px){
    .logo{
        width: 96px;
        margin-bottom: 60px
    }
    
    h1{
        font-size: 2.5em;
    }

    .suscribe{
        font-size: 1.05em;
        font-weight: 300;
    }
    form{
        width: 638px;
        display: flex;
        justify-content: space-between;

    }
    input[type="email"]{
        width: 420px;
        height: 55px;
        font-size: 0.8em;
    }
    #error{
        text-align: left;
        padding-left: 24px;
    }
    input[type="submit"]{
        width: 200px;
        height: 55px;
        margin-bottom: 90px;
        font-size: 0.8em;
    }
    .dashbord{
        width: 640px;
        margin-bottom: 74px;
        
    }
}